<form class="form-horizontal" name="forgotPasswordForm" novalidate>
    <br />
    <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <fieldset>
                        <h1 class="container">Reset Your Password</h1>
                        <p>Email will be sent to you with password</p>
                        <div class="form-group" show-errors>
                            <label for="email" class="col-sm-3 control-label">Email Address:</label>
                            <div class="col-sm-9">
                                <input name="email" type="email" ng-model="forgotPasswordModel.email" class="form-control" ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" />
                                <p ng-show="forgotPasswordForm.email.$invalid && !forgotPasswordForm.email.$pristine" class="help-block">Email required!</p>
                            </div>
                        </div>

                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="reset" class="btn btn-warning" value="Reset"
                               ng-click="resetForm()" />

                        <button class="btn btn-primary" type="submit" ng-click="submitForm()" ng-model="successMessage"><span class="glyphicon glyphicon-send"></span> Send</button>
                        <div>
                            <br />
                            <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
                        </div>
                    </div>

                    <br />
                        <p>
                            <a href="/#/login" class="glyphicon glyphicon-backward"> Back to login</a>
                        </p>                   
                   
                    </fieldset>
                
                   
                  </div>
            </div>
        </div>

</form>




<br/>

<br />
<br />
<br /><br />


<br />

<br />


<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br /><br />

<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br /><br />


<br />

<br />


<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br /><br />

<br />
<br />
<br />
<br />

<br />

<br />
<br />
<br />
<br /><br />
<br />
<br />

<br />
<br />
<br />