<form class="form-horizontal" name="loginForm" novalidate>
    <br />
    <fieldset>
        <legend class="container">Login</legend>
        <div class="form-group" show-errors>
            <label for="email" class="col-sm-3 control-label">Email Address:</label>
            <div class="col-sm-9">
                <input name="email" type="email" ng-model="loginModel.email" class="form-control" ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" />
                <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Email required!</p>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="password" class="col-sm-3 control-label">Password:</label>
            <div class="col-sm-9">
                <input type="password" name="password" ng-model="loginModel.password" class="form-control" ng-required="true" />
                <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password required!</p>
            </div>
        </div>
    </fieldset>



    <div class="col-sm-offset-3 col-sm-9">
        <input type="reset" class="btn btn-warning" value="Reset"
               ng-click="resetForm()" />
        <input type="submit" class="btn btn-primary" value="Login"
               ng-click="submitForm()" />
        <div class="col-sm-12">
            <br />
               <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
            </div>
            <div>
            <br />
               <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
            </div>
    </div>
</form>