<form class="form-horizontal" name="paymentForm" novalidate role="form">
    <fieldset>
        <legend class="container">Payment </legend>
        <div class="form-group">
            <label for="CardHolderName" class="col-sm-3 control-label">Card Holder Name:</label>
            <div class="col-sm-9">
                <input name="CardHolderName" type="text" ng-model="paymentModel.CardHolderName" class="form-control" />
                <p ng-show="paymentForm.CardHolderName.$invalid && !paymentForm.CardHolderName.$pristine" class="help-block">Name is required!</p>
            </div>
        </div>
        <div class="form-group">
            <label for="cardNumber" class="col-sm-3 control-label">Card Number:</label>
            <div class="col-sm-9">
                <input name="cardNumber" type="text" ng-model="paymentModel.cardNumber" class="form-control" />
                <p ng-show="paymentForm.cardNumber.$invalid && !paymentForm.cardNumber.$pristine" class="help-block">Card Number is required!</p>
            </div>
        </div>
        <div class="form-group">
            <label for="expDate" class="col-sm-3 control-label">Expiring Date:</label>
            <div class="col-sm-9">
                <select>
                    <option value="value">Month</option>
                </select>
                <select>
                    <option value="value">Year</option>
                </select>
            </div>

        </div>

        <div class="form-group">
            <label for="cvv" class="col-sm-3 control-label">CVV :</label>
            <div class="col-sm-9">
                <input name="cvv" type="text" ng-model="paymentModel.cvv" class="form-control" />
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-9">
            <!--<input type="submit" class="btn btn-primary" value="Secure Checkout"
                   ng-click="submitForm()" /><span class="glyphicon glyphicon-lock"></span>-->
            <button class="btn btn-primary" ng-click="submitForm()"><span class="glyphicon glyphicon-lock"></span> Secure Checkout</button>
            <div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>
        </div>
    </fieldset>
</form>
