<form class="form-horizontal" name="registerForm">
    <fieldset>
        <legend class="container">Update Email</legend>
        <div class="form-group" show-errors>
            <label for="email" class="col-sm-3 control-label">Existing Email Address:</label>
            <div class="col-sm-9">
                <input name="email" type="email" ng-model="registerModel.email" class="form-control" ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" />
             </div>
        </div>

        <div class="form-group" show-errors>
            <label for="email" class="col-sm-3 control-label">New Email:</label>
            <div class="col-sm-9">
                <input name="email" type="email" ng-model="registerModel.email" class="form-control" ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" />
            </div>
        </div>

        <legend class="container">Change Password</legend>
        <div class="form-group" show-errors>
            <label for="password" class="col-sm-3 control-label">Password:</label>
            <div class="col-sm-9">
                <input type="password" name="password" ng-model="registerModel.password" class="form-control" ng-required="true" />
                <p ng-show="registerForm.password.$invalid && !registerForm.password.$pristine" class="help-block">Password required!</p>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="ConfirmPassword" class="col-sm-3 control-label">Confirm Password:</label>
            <div class="col-sm-9">
                <input name="confirmPassword" type="password" ng-model="registerModel.ConfirmPassword" class="form-control" ng-required="true" data-match="registerForm.password" />
                <p ng-show="registerForm.confirmPassword.$invalid && !registerForm.confirmPassword.$pristine" class="help-block">ConfirmPassword Required!</p>
            </div>
        </div>

        <legend class="container">Update Personal details</legend>
        <div class="form-group" show-errors>
            <label for="FirstName" class="col-sm-3 control-label">First Name:</label>
            <div class="col-sm-9">
                <input name="firstName" type="text" ng-pattern="/[a-zA-Z]/" ng-minlength="3" ng-model="registerModel.firstName" class="form-control" ng-required="true" />
                <p ng-show="registerForm.firstName.$invalid && !registerForm.firstName.$pristine" class="help-block">Your Firstname is required!</p>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="LastName" class="col-sm-3 control-label">LastName:</label>
            <div class="col-sm-9">
                <input name="lastName" type="text" ng-pattern="/[a-zA-Z]/" ng-minlength="3" ng-model="registerModel.lastName" class="form-control" ng-required="true" />
                <p ng-show="registerForm.lastName.$invalid && !registerForm.lastName.$pristine" class="help-block">Your Lastname is required!</p>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="Phone" class="col-sm-3 control-label">Phone:</label>
            <div class="col-sm-9">
                <input name="phone" type="text" ng-model="registerModel.Phone" class="form-control" ng-required="true" ng-pattern="/[0-9]/" ng-minlength="10" ng-maxlength="10" />
                <p ng-show="registerForm.phone.$invalid && !registerForm.phone.$pristine" class="help-block">Phone number is required!</p>
            </div>
        </div>
        <div class="form-group">
            <label for="Address" class="col-sm-3 control-label">Address:</label>
            <div class="col-sm-9">
                <input name="address" type="text" ng-model="registerModel.address" class="form-control" ng-required="true" />
                <p ng-show="registerForm.address.$invalid && !registerForm.address.$pristine" class="help-block">Address is required!</p>
            </div>
        </div>
        <div class="form-group">
            <label for="City" class="col-sm-3 control-label">City:</label>
            <div class="col-sm-9">
                <input name="City" type="text" ng-model="registerModel.city" class="form-control" ng-required="true" />
                <p ng-show="registerForm.city.$invalid && !registerForm.city.$pristine" class="help-block">City is required!</p>
            </div>
        </div>
        <div class="form-group">
            <label for="PostalCode" class="col-sm-3 control-label">Postal Code:</label>
            <div class="col-sm-9">
                <input name="postalCode" type="text" ng-model="registerModel.postalCode" class="form-control" ng-required="true" />
                <p ng-show="registerForm.postalCode.$invalid && !registerForm.postalCode.$pristine" class="help-block">PostalCode is required!</p>
            </div>
        </div>

        <div class="col-sm-offset-3 col-sm-9">
            <input type="submit" class="btn btn-success" value="Update Profile"
                   ng-click="submitForm()" />
            <div class="col-sm-12">
                <br />
                <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
            </div>
            <div>
                <br />
                <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
            </div>
        </div>
    </fieldset>
</form>
